.body
{
	color:white;
}

.navbar
{
	background-color:#00003f;
	color:white;
}

.navbar a
{
	color:white;
}

.sidebar
{
	//background-color:#90EE90;

}

.mojInput
{
	z-index: 9999;
}

.mainArea
{

	
	height:600px;
}
.add-btn
{

	float:right;
	clear:both;
}

.submit-btn
{
	clear:both;
	margin-top:50px;
	text-align:center;
}
.odg-template
{
	display:none;
}

.hero
{
	height:100vh;
	background:url('http://localhost/matura/includes/img/landing.jpg') no-repeat center center;
	background-size:cover;
}
.hero a
{
	display:block;
	width:20%;
	margin:auto;
	text-decoration:none;
	padding:10px;
	padding-bottom:7px;
	border:2px solid white;
	-webkit-transition: background-color 1.2s, border 1.2s; /* Safari */
	transition: background-color 1.2s,border 1.2s;
}
.hero a:hover
{

	text-decoration:none;
	background-color:black;
	border:2px solid white;
}


.hero .intro {
	padding: 3rem;
	position: relative;
	top: 50%;
	transform: translateY(-50%); }

.hero .intro-link {
	margin:auto;
	color: #fff;
	font-size: 35px;
	line-height: 1.5em;
	letter-spacing: -0.025em;
	font-weight: 500;
	text-align: center; }
.hero p {
	margin-top:10px;
	color: #fff;
	line-height: 1.75em;
	font-weight: 200;
	text-align: center;
	margin-bottom: 2rem; }
.
@media only screen and (min-width: 40.063em) {
	.hero h1 {
		padding-top: 4.5rem;
		text-align: right;
		font-size: 2.5rem; }
	.hero p {
		text-align: right; } }
.panel-heading
{
	background-color:#038ef8!important;
	color:white!important;

}
.panel .form-control
{
	border-color:#038ef8;
}
.panel{
	border-color:#038ef8!important;
}
.pull-right{
	float:right;
}

.btn-default
{
	background-color: #038ef8;
	color:white;
}

.btn-default:hover
{
	background-color: darkorange;
	color:white;
}
